@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

body {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-areas: "main" "footer";
    overflow-x: hidden;
    background: #5ACFC9;
    /*LA SIGUIENTE LINEA ES PARA LA POSICION RESPECTO A Y EN LA PAGINA*/
    min-height: 70vh;
    font-family: 'Open Sans', sans-serif;
}
body .footer {
    z-index: 1;
    --footer-background: #8AD879;
    display: grid;
    position: relative;
    grid-area: footer;
    min-height:10rem;
    margin-left: 20%;
    width: 70rem;
}
body .footer .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0rem;
    background: var(--footer-background);
    filter: url("#blob");
}

/*ESTO ES PA LAS BURBUJITAS*/
body .footer .bubbles .bubble {
    position: absolute;
    left: var(--position, 50%);
    background: var(--footer-background);
    border-radius: 100%;
    animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    transform: translate(-50%, 100%);
}
body .footer .content {
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 4rem;
    padding: 2rem;
    text-align: center;
    background: var(--footer-background);
}
body .footer .content a, body .footer .content p {
    color: #000000;
    text-decoration: none;
}
body .footer .content b {
    color: rgb(0, 0, 0);
}
body .footer .content p {
    margin: 0;
    font-size: 0.75rem;
}
body .footer .content > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
body .footer .content > div > div {
    margin: 0.25rem 0;
}
body .footer .content > div > div > * {
    margin-right: 0.5rem;
}
 body .footer .content > div .image {
    align-self: center;
    width: 4rem;
    height: 4rem;
    margin: 10rem;
    background-size: cover;
    background-position: center;
    font-family: 'Work Sans', sans-serif;
} 

.title{
    font-size: 28pt;
    color: #fff;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}

body .footer .content p{
    font-size: 18pt;
    color: #fff;
    text-align: center;
}

@keyframes bubble-size {
    0%, 75% {
        width: var(--size, 4rem);
        height: var(--size, 4rem);
   }
    100% {
        width: 0rem;
        height: 0rem;
   }
}
@keyframes bubble-move {
    0% {
        bottom: -4rem;
   }
    100% {
        bottom: var(--distance, 10rem);
   }
}

/* PA EL BOTON */
.bubbly-button {
    font-family: 'Helvetica', 'Arial', sans-serif;
    display: inline-block;
    font-size: 1em;
    padding: 1em 2em;
    margin-top: 30px;
    margin-bottom: 60px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #FA9F42;
    color: #fff;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(75, 241, 111);
}
.bubbly-button:focus {
    outline: 0;
}
.bubbly-button:before, .bubbly-button:after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}

.bubbly-button:active {
    transform: scale(0.9);
    background-color: #FA9F42;
    box-shadow: 0 2px 25px rgb(75, 241, 111);
}
.bubbly-button.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
}
.bubbly-button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
}
