.head{
    background-image: linear-gradient(to top, rgba(66, 167, 66, 0.9) 0%, rgba(25, 110, 25, 0.9) 100%), url(../src/head_bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}